@charset "utf-8";
/* Global Styles */

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
nav {
	float: right;
	line-height: 40px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: medium;
}
.mobile-view {
	display: none;
}
.desktop-view ul li {
	list-style-type: none;
	display: inline-block;
}
.desktop-view {
	margin-top: -4px;
}
.desktop-view ul li a {
	padding-top: 13px;
	padding-right: 0PX;
	padding-bottom: 13px;
	padding-left: 0PX;
	text-decoration: none;
	color: #E8E8E8;
	width: 6.5rem;
	display: inline-block;
	margin-top: -15px;
	text-align: center;
	border-radius: 10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 20px;
}
.btn-red {
	background-color: #FF6138;
}
.btn-green {
	background-color: #00A388;
}
.hero-image {
	height: 653px;
	background-image: url(images/hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0%;
	padding-top: 19px;
	border-radius: 10px;
}
/* Header */
.nav {
	background-color: rgba(0,0,0,0.65);
	padding-top: 12px;
	padding-left: 19px;
	padding-right: 19px;
	padding-bottom: 12px;
	border-radius: 10px;
}
header {
	padding-top: 12px;
	padding-left: 19px;
	padding-right: 19px;
	text-align: center;
/*	min-height: 450px;*/
}
header .profileLogo .logoPlaceholder {
	background-color: rgba(146,146,146,1.00);
	width: 187px;
	text-align: center;
	border-radius: 10px;
	margin-left: 30px;
}
header .logoPlaceholder span {
	width: 80px;
	height: 22px;
	font-family: 'Montserrat', sans-serif;
	color: none;
	font-size: 20px;
	font-weight: 700;
	line-height: 53px;
}
header .profilePhoto {
	background-color: rgba(237,237,237,1.00);
	width: 259px;
	border-radius: 50%;
	height: 259px;
	clear: both;
}
header .profileHeader h1 {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 40px;
	font-weight: 800;
	line-height: 28px;
}
header .profileHeader h3 {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 20px;
	font-weight: 650;
	line-height: 24px;
}
hr {
	background-color: rgba(208,207,207,1.00);
	height: 1px;
}
header .profileHeader p {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 18px;
	font-weight: 500;
	line-height: 1.8;
	overflow-y: auto;
}
header .socialNetworkNavBar {
	text-align: center;
	display: block;
	margin-top: 60px;
	clear: both;
}
header .socialNetworkNavBar .socialNetworkNav {
	border-radius: 50%;
	cursor: pointer;
}
header .socialNetworkNavBar .socialNetworkNav img:hover {
	opacity: 0.5;
}
body {
	background-color: #1F1F1F;
}
/* Main Content sections */
.mainContent .section1 {
	display: block;
}
.section1 .sectionTitle, .section2 .sectionTitle {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	margin: 0 3% 0 0;
	float: left;
	clear: both;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	background-color: rgba(208,207,207,1.00);
	height: 1px;
	padding: 0px;
}
.mainContent .section1 .section1Content {
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: 100;
	color: rgba(208,207,207,1.00);
}
.mainContent .section1 .section1Content span {
	color: rgba(146,146,146,1.00);
	font-family: sans-serif;
}
.mainContent .section1 .section1Content a {
	color: rgba(208,207,207,1.00);
	font-family: sans-serif;
}
.mainContent .section1 .section1Content a:hover {
color: #ff3300;
}
.section2 .sectionContentTitle {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 18px;
	font-weight: 700;
}
.section2 .sectionContentSubTitle {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-weight: 600;
}
.section2 .sectionContentSubSubTitle {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 14px;
	font-weight: 400;
}
.section2 .sectionContent {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
}
.section2 .sectionSubContent {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-weight: 300;
	line-height: 1.8;
}
.section2 .section2Content ul {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	padding: 0px;
	font-weight: 400;
/*	list-style-type: none;*/
}
.section2 .section2Content span {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-weight: 600;
	line-height: 1.8;
}
.section2 .left_col {
	float:left;
	width:150px;
}
.section2 .right_col {
	float:right;
	width:auto;
}
main {
	min-height: 800px;
}
.mainContent {
	display: block;
}
.mainContent .externalResourcesNav .externalResources {
	background-color: rgba(208,207,207,1.00);
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	padding-top: 3%;
	cursor: pointer;
}
.mainContent .externalResourcesNav .externalResources:hover {
	background-color: rgba(153,153,153,1.00);
}
.externalResourcesNav .externalResources a {
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}
.stretch {
	content: '';
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}
/* Footer */
footer .footerDisclaimer {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: rgba(104,103,103,1.00);
	font-weight: 700;
}
footer .footerDisclaimer span {
	color: rgba(181,178,178,1.00);
	font-weight: 400;
}
footer .footerNote {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: rgba(104,103,103,1.00);
	font-weight: 700;
}
footer .footerNote span {
	color: rgba(181,178,178,1.00);
	font-weight: 400;
}
.myimg {
	float: left;
	margin: 0px 20px 0 0;
}
.myimg img {
	width: 60px;
	height: 60px;
}
.wrapper {
	border: 5px solid transparent;
}
.box {
	margin: 10px;
	min-height: 100px;
}
.row > .column {
	padding: 0 8px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 25%;
}

/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 600px;
}

/* The Close Button */
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.mySlides {
	display: none;
}

.cursor {
	cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 16px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

img {
	margin-bottom: -4px;
/*
	border:0;
	display:block;
	height:auto;
	max-width:100%;
	width:auto;
*/
}

.caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	color: blue;
	text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.75),
              -3px 10px 12px rgba(0, 0, 0, 0.75);
}




/* Media query for Mobile devices*/
@media only screen and (min-width : 285px) and (max-width : 480px) {
.mobile-view {
	display: block;
	float: right;
	margin-top: 6px;
}
.desktop-view {
	display: none;
	text-align: right;
}
.expand {
	display: block;
}	
.nav a img {
	width: 83%;
	height: 83%;
}
.desktop-view ul li {
	display: block;
	margin-top: 35px;
	margin-right: 10px;
}	
.desktop-view ul li a {
	width: 10rem;
}

/* Header */
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
}
header .profilePhoto {
	display: inline-block;
}
header .profileHeader {
	text-align: center;
	margin-top: 10%;
}
header .profileHeader p {
	text-align: justify;
}
header .socialNetworkNavBar {
	text-align: center;
	display: block;
	margin-top: 60px;
	clear: both;
	margin-bottom: 15%;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content sections */
.mainContent .section1 {
	text-align: center;
	margin-bottom: 10%;
}
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: inline-block;
	text-align: left;
	font-family: sans-serif;
	text-align: justify;
}
.mainContent .section2 {
	display: block;
	text-align: center;
}
.section2 .section2Content {
	margin-top: 10%;
	text-align: justify;
	margin-bottom: 10%;
}
.section2 .left_col {
	float:left;
	width:150px;
}
.section2 .right_col {
	float:right;
	width:auto;
}
.mainContent .externalResourcesNav {
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav .externalResources {
	width: 100%;
	height: 35px;
}
/* Footer */
footer {
	display: block;
	text-align: center;
	font-family: sans-serif;
}
}

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
	
.mobile-view {
	display: block;
	float: right;
	margin-top: 8px;
}
.desktop-view {
	display: none;
	text-align: right;
}
.expand {
	display: block;
}	
.desktop-view ul li {
	display: block;
	margin-top: 35px;
	margin-right: 10px;
}	
.desktop-view ul li a {
	width: 10rem;
}
	
/* Header */
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	float: left;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
	margin-top: 5%;
}
header .profileHeader {
	text-align: left;
	margin-top: 7%;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content and sections */
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: block;
	margin: 0% 0% 0% 20%;
	font-family: sans-serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
.mainContent .section2 {
	clear: both;
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 20%;
	font-family: sans-serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
.section2 .left_col {
	float:left;
	width:150;
}
.section2 .right_col {
	float:left;
	width:auto;
}
.mainContent .externalResourcesNav {
	margin-left: 20%;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
	margin-top: 5%;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: sans-serif;
}
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {
/* Header */
header .profileLogo .logoPlaceholder {
	float: left;
	margin-bottom: 50px;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
}
header .profileHeader {
	text-align: left;
	padding-top: 10%;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content sections */
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 22.5%;
}
/*
main {
	min-height: 800px;
}
*/
.mainContent .section1 .section1Content {
	display: block;
	margin-top: 0%;
	margin-right: 0%;
	margin-left: 26%;
	margin-bottom: 0%;
	font-family: sans-serif;
}
.mainContent .section2 {
	clear: both;
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 26%;
	font-family: sans-serif;
}
	
}
